* {
    margin: 0px 0px;
}


/* START OF PRODUCT */
.products-section {
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(91, 91, 91, 0.242), rgba(0, 0, 0, 0.7)) , url('images/nailcaretitle.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    color: #fff;
}

.breadcrumb {
    background-color: transparent;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: white
}

.breadcrumb-item {
    background-color: #5d5d5db4;
    padding: 4px 10px;
    border-radius: 5%;
    font-size: 1rem;
    font-weight: bolder;
}

.breadcrumb-item a {
    color: white;
    text-decoration: none;
}

.breadcrumb-item a:hover {
    color: rgb(215, 215, 215);
    text-decoration: none;
}

.breadcrumb-item.active {
    color: rgb(215, 215, 215);
}

.section-title {
    font-size: 2.2rem;
    font-weight: bolder;
}

.section-title-line {
    width: 250px;
    height: 2px;
    background-color: #ffffff;
    margin: 20px auto;
}

/* CARD */

.product-card {
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    position: relative;
}

.soldout-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #000000;
    color: white;
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bolder;
}

.discount-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #000000;
    color: white;
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bolder;
}

.favorite-badge {
    top: 300px;
    left: 140px;
    font-weight: bolder;
    font-size: 1.3rem;
    color: #999;
    cursor: pointer;
    position: absolute;
    background-color: lightgrey;
    color: black;
    padding: 8px 10px;
    border-radius: 55px;
    font-size: 0.9rem;
    justify-content: center;

}


.product-image {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin: 10px auto;
}

.product-name {
    font-size: 1rem;
    margin: 20px 0px;
    color: #333;
}

.product-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #034284;
}

.product-old-price {
    color: #999;
    text-decoration: line-through;
    margin-right: 5px;
}

.price-margin {
    margin-top: 40px;
    margin-bottom: 1rem;
}



.cart-icon {
    font-size: 1.3rem;
    color: #999;
    cursor: pointer;
    position: absolute;
    bottom: 27px;
    right: 20px;
    background-color: white;
    border: 3px solid black;
    color: black;
    padding: 8px 10px;
    border-radius: 55px;
    font-size: 0.9rem;
    justify-content: center;
    transition: 0.5s;
}

.cart-icon:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: 3px solid black;
}



/* CARD ICON IMAGE START */

/* (FAVORITE) HOVER */
.favorite-icon-wrapper {
    position: absolute;
    top: 270px;
    left: 85px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.66s ease, visibility 0.3s ease;
}

.card:hover .favorite-icon-wrapper {
    opacity: 1;
    transition-delay: 0s;
    visibility: visible;
}

/* Favorite ICON */

.favorite-icon {
    cursor: pointer;
    position: absolute;
    background-color: rgb(240, 240, 240);
    color: black;
    border: rgb(240, 240, 240) solid 3px;
    padding: 8px 10px;
    border-radius: 55px;
    font-size: 0.9rem;
    justify-content: center;
    transition: 0.5s;
}

.favorite-icon:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: black solid 3px;
}

/* (COMPARE) HOVER */

.compare-icon-wrapper {
    position: absolute;
    top: 270px;
    left: 135px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.32s ease, visibility 0.3s ease;
}

.card:hover .compare-icon-wrapper {
    opacity: 1;
    transition-delay: 0s;
    visibility: visible;
}

/* Compare ICON */

.compare-icon {
    cursor: pointer;
    position: absolute;
    background-color: rgb(235, 235, 235);
    color: black;
    border: rgb(240, 240, 240) solid 3px;
    padding: 8px 10px;
    border-radius: 55px;
    font-size: 0.9rem;
    justify-content: center;
    transition: 0.5s;
}

.compare-icon:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: black solid 3px;
}

/* SEARCH HOVER */

.search-icon-wrapper {
    position: absolute;
    top: 270px;
    left: 185px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.98s ease, visibility 0.3s ease;
}

.card:hover .search-icon-wrapper {
    opacity: 1;
    transition-delay: 0s;
    visibility: visible;
}

/* Search ICON */

.search-icon {
    cursor: pointer;
    position: absolute;
    background-color: rgb(240, 240, 240);
    border: rgb(240, 240, 240) solid 3px;
    color: black;
    padding: 8px 10px;
    border-radius: 55px;
    font-size: 0.9rem;
    justify-content: center;
    transition: 0.5s;
}

.search-icon:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: black solid 3px;
}


/* CARD ICON IMAGE END */



/* CARDS IMAGE HOVER START */

.nailcare1 {
    transition: opacity 1.5s ease-in-out;
}

.card:hover .nailcare1 {
    content: url('images/nailcare1-hover.jpg');
    opacity: 0;
    cursor: pointer;
}

.card:hover .nailcare1 {
    opacity: 1;
}


.nailcare2 {
    transition: opacity 1.5s ease-in-out;
}

.card:hover .nailcare2 {
    content: url('images/nailcare2-hover.jpg');
    opacity: 0;
    cursor: pointer;
}

.card:hover .nailcare2 {
    opacity: 1;
}

.nailcare3 {
    transition: opacity 1.5s ease-in-out;
}

.card:hover .nailcare3 {
    content: url('images/nailcare3-hover.jpg');
    opacity: 0;
    cursor: pointer;
}

.card:hover .nailcare3 {
    opacity: 1;
}

.nailcare4 {
    transition: opacity 1.5s ease-in-out;
}

.card:hover .nailcare4 {
    content: url('images/nailcare4-hover.jpg');
    opacity: 0;
    cursor: pointer;
}

.card:hover .nailcare4 {
    opacity: 1;
}

.nailcare5 {
    transition: opacity 1.5s ease-in-out;
}

.card:hover .nailcare5 {
    content: url('images/nailcare5-hover.jpg');
    opacity: 0;
    cursor: pointer;
}

.card:hover .nailcare5 {
    opacity: 1;
}

.nailcare6 {
    transition: opacity 1.5s ease-in-out;
}

.card:hover .nailcare6 {
    content: url('images/nailcare6-hover.jpg');
    opacity: 0;
    cursor: pointer;
}

.card:hover .nailcare6 {
    opacity: 1;
}

.nailcare7 {
    transition: opacity 1.5s ease-in-out;
}

.card:hover .nailcare7 {
    content: url('images/nailcare7-hover.jpg');
    opacity: 0;
    cursor: pointer;
}

.card:hover .nailcare7 {
    opacity: 1;
}

.nailcare8 {
    transition: opacity 1.5s ease-in-out;
}

.card:hover .nailcare8 {
    content: url('images/nailcare8-hover.jpg');
    opacity: 0;
    cursor: pointer;
}

.card:hover .nailcare8 {
    opacity: 1;
}

.nailcare9 {
    transition: opacity 1.5s ease-in-out;
}

.card:hover .nailcare9 {
    content: url('images/nailcare9-hover.jpg');
    opacity: 0;
    cursor: pointer;
}

.card:hover .nailcare9 {
    opacity: 1;
}


/* CARD IMAGE HOVER END */








/* START OF FOOTER */

.footer-area {
    background-color: rgb(33 37 41);
    color: white;
    margin: 0px 0px;
    padding-bottom: 10px;
}

.footer {
    border: px solid black;
    background-color: transparent;
    color: black;
    border-radius: 1%;
    border-bottom: 2px solid white;
}

.footer-icons a svg {
    transition: transform 1s;
    transform-style: preserve-3d;


}

.footer-icons a svg:hover {
    transform: rotateY(360deg);
  

}


.footer h5 {
    font-size: 20px;
}

.footer p,
.footer ul,
.footer form {
    margin: 0;
    padding: 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .input-group input {
    border: none;
    border-radius: 0;
}

.footer .input-group .btn {
    border-radius: 0;
}

.footer .row>.col-md-3,
.footer .row>.col-md-6 {
    text-align: center;
}

/* END OF FOOTER */



.logo {

    margin-top: 27px;
    margin-bottom: 0px;
    height: 100px;
    width: 500px;

  }

  .fade-in {
	-webkit-animation: fade-in 2000ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 2000ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.header {
    background-color: black;
    color: white;
    padding: 1px;
    text-align: center;
    margin-top: 10px;

}

  .card {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
  }

  .card:hover {
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid gray;
  }

  .signup {
    border-bottom: 1px solid gray;
    width: 100%;
    text-align: center;
    padding: 10px;
    height: 90px;
    text-align: justify;
  }



  .card-custom {
    transition: transform 0.3s;
  }

  .card-custom:hover {
    transform: scale(1.05);
  }

  .line {
    border-right: 1px solid gray;

  }

  .search1:hover {
    color: black;

  }

  .search1 {
    color: rgb(152, 147, 147);
  }




  
  /* Cart Header*/
  .cart1{
    position: fixed;
    left: 88%;
    top: 5%;
    

  }

  .cart2{
    position: fixed;
    left: 90%;
    top: 4%;
  }

  .cart3{
    position: fixed;
    left: 92%;
    top: 3%;
    border: 1px solid white ;
  }

  .cart3:hover{
    border: 1px solid white ;
  }  